<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>Find FORM</title>
</head>
<body>
    <div layout:fragment="contents">
        <h1>Find Page</h1>
        <div class="uk-grid">
            <form class="uk-padding uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s" action="/user/find.do" method="post">
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" type="text" name="user_id" placeholder="ID">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-width-1-1">
                        <button class="uk-width-1-1 uk-button uk-button-primary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>