<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>My Board</title>
</head>
<div layout:fragment="contents">
    <h1>My Board</h1>
    <br>
    <h2>CRUD 기능을 구현한 간단한 게시판 프로젝트입니다.</h2>
    <br>
    <ul>
        <li>기간 : 2023년 03월 19일 ~ 2023년 03월 20일</li>
        <li>참여 : 유한비</li>
        <li>작업 툴
            <ol type="I">
                <li>Front-end : HTML5, CSS3, JS</li>
                <li>Back-end : Java, Spring boot, AJAX, MyBatis, Apache Tomcat</li>
                <li>DB : MySQL</li>
            </ol>
        </li>
        <li>기능 설명
            <ol type="1">
                <li>사용자 회원가입 및 로그인, 비밀번호 찾기, 로그아웃 기능을 구현했습니다.</li>
                <li>로그인 시에만 이용 가능한 기능은 예외 처리를 통해 로그인 페이지로 넘어가도록 했습니다.</li>
                <li>게시글과 사용자를 등록/수정/삭제할 수 있는 CRUD 기능을 완벽히 구현했습니다.</li>
                <li>AJAX 로 좋아요 및 댓글 기능을 구현했습니다.</li>
                <li>게시글을 원하는 개수와 정렬 방식으로 목록을 볼 수 있습니다.</li>
            </ol>
        </li>
    </ul>
</div>